*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas:
    'header header header header'
    'navigation content content content'
    'navigation content content content'
    'navigation content content content'
    'footer footer footer footer';
    color: white;
    background-color: #282828; /* Darker background color for the body */
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */

}

#header img {
    position: absolute;
    top: 5px;
    left: 180px;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}


#header h1{
    font-size: 70px;
    color: white;
}
#header{
    grid-area: header;
    text-align: center;
    background-color: #333;
    border: 3px solid white;
}
#navigation{
    grid-area: navigation;
    background-color: #333;
    border: 3px solid white;
    text-align: center;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px; /* spacing between menu items */
}


#navigation a{
    display: block;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 12px 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#content{
    grid-area: content;
    text-align: center;
    background-color: #444; /* Slightly darker content background */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid white;
    padding-left: 50px ;
}

/* HOME BOX */
#content-1{
    border: 3px solid white;
    padding: 30px 40px;
    background-color: #333;
    width: 650px;
    border-radius: 20px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.25);
    text-align: center;
}

/* Home title */
#content-1 h1{
    margin-bottom: 15px;
    font-size: 32px;
    color: white;
}

/* Home paragraph */
#content-1 p{
    font-size: 16px;
    line-height: 1.6;
}


#footer{
    display: flex;
    grid-area: footer;
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-between ;
    border: 3px solid white;
    align-items: center;
}

#footer i {
    font-size: 24px; /* Adjust icon size */
    vertical-align: middle; /* Align icons vertically */
    margin: 0 10px; /* Add spacing between icons */
}
#footer a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
#register{
    border: 3px solid white;
    padding: 30px 40px;
    background-color: #333;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);

}

/* Title */
#register h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
}

/* Inputs */
#register input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid white;
    font-size: 16px;
    color: black;
}

/* Focus effect */
#register input:focus{
    outline: none;
    border: 2px solid #2b7cff;
}

/* Login link */
#register a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* Hover effect */
#register a:hover{
    text-decoration: underline;
}
#register button{
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

#register button:hover{
    background-color: #333;
    color: white;
}

#navigation a:hover{
    background-color: white;
    color: black;
    transform: translateX(5px); /* small slide effect */
}

/* LOGIN BOX */
#login{
    border: 3px solid white;
    padding: 30px 40px;
    background-color: #333;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);
}

/* Title */
#login h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
}

/* Inputs */
#login input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid white;
    font-size: 16px;
    color: black;
}

/* Focus effect */
#login input:focus{
    outline: none;
    border: 2px solid #2b7cff;
}

/* Button */
#login button{
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover button */
#login button:hover{
    background-color: #555;
    color: white;
}